version: '3'

services:
  app:
    container_name: app
    image: gradle:jdk11-openj9
    ports:
      - "8080:8080"
    working_dir: /home/gradle/app
    volumes:
      - ./:/home/gradle/app
      - ~/.gradle:/home/gradle/.gradle
    command: gradle bootRun --args='--spring.profiles.active=docker'
    depends_on:
      - elastic
  elastic:
    container_name: elastic
    image: elasticsearch:8.2.3
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - trademarkselasticdata:/usr/share/elasticsearch/data
  nginx:
    container_name: nginx
    hostname: nginx
    image: nginx:1.23.0
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app

volumes:
  trademarkselasticdata:
    external: true
